.Main {
    background-color: rgb(8, 44, 60);
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
}

.Main h1, .Main h2 {
    color: rgb(148, 161, 235);
}

.Main h3 {
    color: rgb(192, 117, 37);
}

.Main .rating {
    color: rgb(230, 183, 133);
    padding-left: 30px;
}

.Main .details {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Bonus: css for card */

.Main #card {
    max-width: 80%;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid #666;
    box-shadow: 5px 5px 10px -5px;
    transition: 0.4s;
  }
  
.Main #card:hover {
      cursor: pointer;
      box-shadow: 5px 5px 10px 0px;
}